:root {
    --background: #ffffff;
    --backgroundMocha: #ffffff;
    --button: #3d951d;
    --yellow: #FECF72;
    --element: #F5ECD5;
    --navbar: #004ec2;
     
  }
  
  .mesgs {
      background-color: #f5ecd5;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }
  
  
  #msg {
      border-bottom-left-radius: 15px;
      border-top-left-radius: 0px;
  }
  
  #submit2 {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 15px;
  
  }
  
  input::-webkit-file-upload-button {
  display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: white;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: var(--button);
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      border-radius: .25rem;
  
  }
  
  body {
    background: var(--background);
    color: #333333;
    margin-top: 5rem;
    font-family: 'Sen';
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--yellow);
    font-family: 'Sen';
  }
  
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
      background-color: var(--button) !important;
      border: 1px solid var(--button);
  }
  
  .jumbotron {
    background: var(--element);  
  }
  
  .modal-content {
    background: var(--element);  
  }
  
  .bg-steel {
    background-color: var(--navbar);
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: var(--element);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: var(--button);
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  
  /*----- Profile -----*/
  
  .circle-block {
      text-align: center;
      vertical-align: left;
  }
  .circle {
      border-radius: 70px;
      color: black;
      height: 70px;
      font-weight: bold;
      width: 70px;
      display: table;
  }
  .circle p {
      vertical-align: middle;
      display: table-cell;
  }
  
  .status-circle {
      background: green;
      border-radius: 25px;
      color: black;
      height: 25px;
      font-weight: bold;
      width: 25px;
      display: table;
  }
  
  .status-circle-red {
      background: red;
      border-radius: 25px;
      color: black;
      height: 25px;
      font-weight: bold;
      width: 25px;
      display: table;
  }
  
  .fixed{
      width: 900px;
  }
  
  .rounded-circle{
  border-radius:50%;
  width:70px;
  height:70px;
  }
  
  #profile-pic{
     min-width:70px;
     min-height:70px; 
     max-width:70px;
     max-height:70px; 
  }
  
  .titleContainer {
     padding-left: 0px;
  }
  
  /*----- Chat -----*/
  .bg-funky	{
    background: #FF1744;
  }	
  
  .heading {
    /*color: #fff;*/
    margin: 30px;
    font-weight: 600;
  }
  
  img {max-width: 100%;}
          .inbox_msg {
            background-color: var(--background);
            clear: both;
            overflow: hidden;
          }
          .top_spac{ margin: 20px 0 0;}
  
  
          .recent_heading {float: left; width:40%;}
  
          .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
  
          .recent_heading h4 {
            color: #05728f;
            font-size: 21px;
            margin: auto;
          }
  
          .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
          .chat_ib h5 span{ font-size:13px; float:right;}
          .chat_ib p{ font-size:14px; color:#989898; margin:auto}
          .chat_img {
            float: left;
            width: 11%;
          }
          .chat_ib {
            float: left;
            padding: 0 0 0 15px;
            width: 88%;
          }
  
          .chat_people{ overflow:hidden; clear:both;}
          .chat_list {
            border-bottom: 1px solid #c4c4c4;
            margin: 0;
            padding: 18px 16px 10px;
          }
          .inbox_chat { height: 550px; overflow-y: scroll;}
  
          .active_chat{ background:#ebebeb;}
  
          .incoming_msg_img {
            display: inline-block;
            width: 6%;
          }
          .received_msg {
            display: inline-block;
            padding: 0 0 0 10px;
            vertical-align: top;
            width: 92%;
           }
           .received_withd_msg p {
            background: var(--yellow) none repeat scroll 0 0;
            border-radius: 3px;
            color: #646464;
            font-size: 14px;
            margin: 0;
            padding: 5px 10px 5px 12px;
            width: 100%;
          }
          .time_date {
            color: #747474;
            display: block;
            font-size: 10px;
            margin: 3px 0 0;
          }
          .received_withd_msg { width: 70%;}
          .mesgs {
            float: left;
            padding: 40px;
            width: 100%;
          }
  
           .sent_msg p {
            background: grey none repeat scroll 0 0;
            border-radius: 3px;
            font-size: 14px;
            margin: 0; color:#fff;
            padding: 5px 10px 5px 12px;
            width:100%;
          }
          .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
          .sent_msg {
        float: right;
            width: 70%;
        text-align: right;
          }
          .input_msg_write input {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: #4c4c4c;
            font-size: 15px;
            min-height: 48px;
            width: 100%;
          }
  
          .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
          .msg_send_btn {
            background: #05728f none repeat scroll 0 0;
            border: medium none;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            height: 33px;
            position: absolute;
            right: 0;
            top: 11px;
            width: 33px;
          }
          .messaging { background: #fff;}
          .msg_history {
            max-height: 516px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column-reverse;
          }
  ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }
  
  .credit {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .credit a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    border-bottom: dotted 1px;
  }
  
  .bottomButtonsChat {
    width: 100%;
    text-align: center;
  }
  
  .vanillaContainer {
      width = 180px;
      text-align: center;
      display: inline-block;
  }
  
  /*----- Chat Sidebar -----*/
  
  .sidebar {
      width: 180px;
  /*     position: fixed; */
      top: 0;
      left: 0;
  /*     height: 100vh; */
      z-index: 1;
      background: #362919;
      color: #fff;
      transition: all 0.3s;
  }
  
  .green-nav {
    background-color: #5ea644;    
  }
  
  .sidebar-link {
    color: #fff;
  }
  
  
  /*----- Welcome -----*/
  
  .bigTitle {
      font-size: 4rem;
  }
  
  .lightText {
      color: #fff;
  }
  
  .imgDropShadow {
      -webkit-filter: drop-shadow(5px 5px 5px #242120);
  }
  
  .mochaBackground {
      background: var(--backgroundMocha);
  }
  
  .bg-tan {
      background-color: #403634;
  }
  
  /*----- About -----*/
  
  .bg-image {
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/static/images/people_using_laptops.jpg');
  }
  
  .centered-text {
      text-align: center;
  }
  
  .bg-chocolate {
      background-color: #171212;
  }
  
  .darkDropShadow {
      -webkit-filter: drop-shadow(5px 5px 5px 5px #0d0c0c);
  }
  
  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  footer {
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      text-align-last: justify;
      flex-direction: row;
      width: 100 ;
  }
  [data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}
.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 3px solid palevioletred;

}
.tab{
    cursor: pointer;
    padding: 10px;
}

.tab.active{
    background-color: palevioletred;
}
.tab:hover{
    background-color: palevioletred;
}